<$header>
<head>
    <this>hey1</this>
    <example>
        hi2
    </example>
</head>
</$header>
    <someData>
        <data>$data</data>
        <docNum>$n1</docNum>
        <docNum2>$n2</docNum>
    <someData>
    $break$
    <slightlyDifferent>
        <data>$data</data>
        <docNum>$n1</docNum>
        <docNum2>$n2</docNum>
    </slightlyDifferent
    $break$
    <evenDifferenter>
        <data>$data</data>
        <docNum>$n1</docNum>
    </evenDifferenter>
    $break$
<$footer>
<foot>
    stuff
</foot>
</$footer>